@model Zeta.WisdCar.Model.VO.ClubCardVO

<!-- BEGIN PAGE HEADER-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
            重置密码 <small>Reset password</small>
        </h3>
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="@Url.Action("Index", "Dashboard")">
                    首页
                </a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">
                    会员管理
                </a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">
                    重置密码
                </a>
            </li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
		<!-- 需要用的 开始-->
<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-globe"></i>重置密码
        </div>
    </div>


    <div class="portlet-body">
        <!--页头 开始 -->
        <div class="portlet box" style="border-bottom:1px solid #bde9f1;">
            <div class="portlet-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="txtQyName">客户姓名:</label>
                        <div class="col-md-2">
                            @Html.TextBoxFor(m => m.CustName, new { @class="form-control",@readonley=true})
                            
                        </div>
                        <label class="col-md-2 control-label" for="txtQyCardNo">会员卡号:</label>
                        <div class="col-md-2">
                            @Html.TextBoxFor(m => m.ClubCardNo, new {@class="form-control" ,@readonley=true})
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--页头 开始 -->
        <!--修改密码 开始 -->

        <div class="portlet box" style="margin-bottom:10px; border:1px solid #bde9f1;">
            <div class="portlet-body">
                <form action="#" id="form_sample_1" class="form-horizontal">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-2 control-label">原始密码:  <span class="required"> * </span> </label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <i class="fa"></i>
                                    <input name="oldpwd" id="oldpwd" type="password" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">新密码:  <span class="required"> * </span> </label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <i class="fa"></i>
                                    <input name="newpwd" id="newpwd" type="password" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">确认新密码:  <span class="required"> * </span> </label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <i class="fa"></i>
                                    <input name="renewpwd" id="renewpwd" type="password" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label"></label>
                            <div class="col-md-4">
                                <a id="btnQy" href="javacript:void(0);" onclick="subForm(); return false;" class="btn btn-md blue"> 确定 </a>
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!--修改密码 结束 -->

    </div>

</div>
<!-- END PAGE CONTENT-->
@section scripts{
    <script>
        function subForm() {
            var oldpwd = $('#oldpwd').val();
            var newpwd = $('#newpwd').val();
            var renewpwd = $('#renewpwd').val();
            var id = getQueryString("id");

            if (!oldpwd) {
                alert("请输入原始密码");
                return;
            }
            if (!newpwd) {
                alert("请输入新密码");
                return;
            }
            if (!renewpwd) {
                alert("请再次输入新密码");
                return;
            }
            if(renewpwd!==newpwd)
            {
                alert("两次新密码输入不一致")
                return;
            }
            
            $.ajax(
                    {
                        "type": "post",
                        "url": "@Url.Action("ResetPasswordSub", "ClubCard")",
                        "data": { id: id, oldpwd: oldpwd, newpwd: newpwd },
                        "dataType": "json",
                        "ansyc": true,
                        "cache": false,
                        "success": function (re) {
                            if (re.Success)
                            {
                                alert(re.Message);
                               
                            } else {
                                alert(re.Message);
                               
                            }
                        },
                        "error": function () {
                            alert(re.error);
                           
                        }
                    }
                );
        }
        function getQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]); return null;
        }
        $(function () {
           
        });
    </script>
}