<!-- BEGIN PAGE HEADER-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
            消费记录 <small>Consume Log</small>
        </h3>
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="@Url.Action("Index", "Dashboard")">
                    首页
                </a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">
                    帐号管理
                </a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">
                    密码管理
                </a>
            </li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        
            <!-- 需要用的 开始-->
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-globe"></i>重置密码
                    </div>
                </div>


                <div class="portlet-body">
                   
                    <!--修改密码 开始 -->

                    <div class="portlet box" style="margin-bottom:10px; border:1px solid #bde9f1;">
                        <div class="portlet-body">
                            <form action="#" id="form_sample_1" class="form-horizontal">
                                <div class="form-body">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">旧密码:  <span class="required"> * </span> </label>
                                        <div class="col-md-4">
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                <input name="oldpwd" id="oldpwd" type="password" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">新密码:  <span class="required"> * </span> </label>
                                        <div class="col-md-4">
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                <input name="password" id="password" type="password" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">确认新密码:  <span class="required"> * </span> </label>
                                        <div class="col-md-4">
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                <input name="newpwd" id="newpwd" type="password" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label"></label>
                                        <div class="col-md-4">
                                            <a id="btnQy" href="javacript:void(0);" onclick="resetPwd()" class="btn btn-md blue"> 确定 </a>
                                        </div>
                                        <div class="col-md-4"></div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
        
    </div>
</div>
<!-- END PAGE CONTENT-->
@section scripts{
    <script>
        var ConsumeLog = function () {
            var onPageLoad = function () {

            };

            return {
                Init: function () {
                    $("#sidebar_menu_recharge_consume").addClass("active");
                    $("#sidebar_menu_consume_log").addClass("active");
                    App.blockUI({ boxed: true });
                    onPageLoad();
                    window.setTimeout(function () {
                        App.unblockUI();
                    }, 1000);
                }
            };
        }();

        $(function () {
            ConsumeLog.Init();
        });
        function resetPwd()
        {
            var oldpwd = $('#oldpwd').val();
            var password = $('#password').val();
            var newpwd = $('#newpwd').val();
            if (!oldpwd) {
                alert("请输入旧密码");
                return;
            }
            else if (!password) {
                alert("请输入新密码");
                return;
            } else if (!newpwd) {
                alert("请再次输入新密码");
                return;
            }
            if (password !== newpwd)
            {
                alert("两次输入密码不一致，请重新输入");
                return;
            }

            $.ajax({
                "type": "post",
                "url": "@Url.Action("ResetPwdsub","Employee")",
                "dataType": "json",
                "data": {oldpwd:oldpwd,password:password},
                "async": true,
                "cache": false,
                "success": function (re) {
                    if (re.Success) {
                        alert(re.Message);
                    }
                    else {
                        alert(re.Message);
                    }
                },
                "error": function () {
                    alert(re.Error);
                }
            });
        }
    </script>
}