@{
    Layout = null;
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title">内部美容套餐</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <table id="tblPackageItems" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>消费项目</th>
                        <th>消费次数</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>整车外部彻底清洁</td>
                        <td>50 次</td>
                    </tr>
                    <tr>
                        <td>发动机系统的美容护理</td>
                        <td>45 次</td>
                    </tr>
                    <tr>
                        <td>漆面美容护理</td>
                        <td>6 次</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn default" data-dismiss="modal">关闭</button>
</div>

<script>

    $("#tblPackageItems").DataTable();
</script>
